.actionform-component .buttons-div {
    width: 100%;
    /* background: red; */
    display: block;
}

.actionform-component .children-div {
    /* content: ''; */
    width: 100%;
    height: 300px;
    background-color: green;
    display: block;
}