:root{
    --green-not-selected: #daffcd;
    --green-selected: #9acc87;
}

.personpill-component {
    padding: 0px;
    margin: 10px;
    float: left;
    background-color: var(--green-not-selected);
    font-family: Arial, Helvetica, sans-serif;
}

.personpill-component[class*="clicked"] {
    background-color: var(--green-selected);
}
.personpill-component .personpill-text {
    
    width: 60%;
    float: left;
}