:root{
    --not-selected: #91cfa9;
    --selected: #5aa8bb;
    --font: #616161;
}

.personpill-component {

    padding: 0px;
    margin: 10px;
    width: 340px;
    height: inherit;
    border-radius: 85px;
    float: left;
    background-color: var(--not-selected);
    display: flex;
    justify-content: center;
}

.personpill-component[class*="clicked"] {

    background-color: var(--selected);
}

.personpill-component .personpill-text {
    
    width: 55%;
    margin: auto;
    float: right;
    margin-right: 20px;

    font-size: 25px;
    text-align: left;
    font-family: sans-serif;
    user-select: none;
    color: var(--font);
}