:root{
    --lightGreen: #467985;
}

.toolbar-component{
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: var(--lightGreen);
}

.toolbar-component p {
    color: white;
    background: red;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.left{
    float: left;
}

.right{
    float: right;
}