:root  {
    --nav-height:44px;
}

html, body  {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    /* overflow: hidden; */
}

nav {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: #333;
    font-size: 13px;
    color: #dddddd;
    height: var(--nav-height);
}

nav ul {
    display: flex;

    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin: 0px 40px;
}

nav ul li:hover a {
    color: #909090;
}

nav ul li a {
    color:inherit;
    text-decoration: none;
}

/* ------------------CONTENT------------------ */
content {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.row .text-wrapper {
    margin: auto;
    width: 600px;
    text-align: center;
    font-family: inherit;
}

.row img {
    justify-content: center; 
    display: flex;
    margin: auto;
    width: 700px;
}

.row2 .promo {
    display: inline-block;
    width: 50%;
}

.row2 img {
    width: 50%;
    display: inline-block;
}
