0% { bottom: ; left: ; } 
2.5% { bottom: ; left: ; }
5% { bottom: ; left: ; } 
7.5% { bottom: ; left: ; }
10% { bottom: ; left: ; } 
12.% { bottom: ; left: ; }
15% { bottom: ; left: ; } 
17.% { bottom: ; left: ; }
20% { bottom: ; left: ; } 
22.% { bottom: ; left: ; }
25% { bottom: ; left: ; } 
27.% { bottom: ; left: ; }
30% { bottom: ; left: ; } 
32.% { bottom: ; left: ; }
35% { bottom: ; left: ; } 
37.% { bottom: ; left: ; }
40% { bottom: ; left: ; } 
42.% { bottom: ; left: ; }
45% { bottom: ; left: ; } 
47.% { bottom: ; left: ; }
50% { bottom: ; left: ; } 
52.% { bottom: ; left: ; }
55% { bottom: ; left: ; } 
57.% { bottom: ; left: ; }
60% { bottom: ; left: ; } 
62.% { bottom: ; left: ; }
65% { bottom: ; left: ; } 
57.% { bottom: ; left: ; }
70% { bottom: ; left: ; } 
72.% { bottom: ; left: ; }
75% { bottom: ; left: ; } 
77.% { bottom: ; left: ; }
80% { bottom: ; left: ; } 
82.% { bottom: ; left: ; }
85% { bottom: ; left: ; } 
87.% { bottom: ; left: ; }
90% { bottom: ; left: ; } 
92.% { bottom: ; left: ; }
95% { bottom: ; left: ; } 
97.% { bottom: ; left: ; }
100% { bottom: ; left: ; } 