:root{
    --avatar-background: #c7b578;
    --initials-color: #585858;
}

.avatar-component{
    margin: 2%;
    float: left;
    border-radius: 50%;
    background-color: var(--avatar-background);
}

.avatar-component .thumbnail
{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    line-height: 100%;
}

.avatar-component .thumbnail p {

    font-family: Helvetica;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 80%;
    user-select: none;
    color: var(--initials-color);
}