:root {
    --run0: -110px -50px; 
    --run1: -700px -50px;
    --run2: -1325px -50px;
    --run3: -1950px -50px;
    --run4: -2600px -50px;
    --run5: -3150px -50px;
    --run6: -3825px -50px;
    --run7: -4500px -50px;
    --run8: -5200px -50px;

    --jump0: -135px -915px;
    --jump1: -720px -915px;
    --jump2: -1350px -915px;
    --jump3: -1990px -915px;
    --jump4: -2625px -915px;
    --jump5: -3250px -915px;
    --jump6: -3825px -915px;
    --jump7: -4500px -915px;
    --jump8: -5225px -915px;

    --landing0: -2000px -1825px;
    --landing1: -1375px -1825px;
    --landing2: -750px -1825px;
    --landing3: -150px -1825px;

    --x-step: 60px;
    --y-step: 60px;
    
    --duration: 3s;
}

.stage {
    width: 2900px;
    height: 1500px;

    margin: auto;
    position: absolute;
    
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    border: 5px solid green;
}


.container {
    height:700px;
    width: 600px;
    border: 5px solid red;

    position: absolute;
    bottom: 0px;
    left: 0px;

    animation-name: animate-container-position;
    animation-duration: var(--duration);
    animation-iteration-count: infinite;
    animation-timing-function: step-end; 
    animation-fill-mode: backwards; 
}

.sprite {
    height: 100%;
    width: 100%;

    background-image: url('ms_jump.png');
    background-size: 1000%;
    image-rendering: pixelated;
    background-repeat: no-repeat;
    background-position: -110px -915px;

    animation-name: animate-sprite-position;
    animation-duration: var(--duration);
    animation-iteration-count: infinite;
    animation-timing-function: step-end; 
    animation-fill-mode: backwards; 
}

@keyframes animate-container-position { 
    0% { bottom: 0; left: calc(1 * (var(--x-step))); } 
    2.5% { bottom: 0; left: calc(2 * (var(--x-step))); }
    5% { bottom: 0; left: calc(3 * (var(--x-step))); } 
    7.5% { bottom: 0; left: calc(4 * (var(--x-step))); }
    10% { bottom: 0; left: calc(5 * (var(--x-step))); } 
    12.5% { bottom: 0; left: calc(6 * (var(--x-step))); }
    15% { bottom: 0; left: calc(7 * (var(--x-step))); } 
    17.5% { bottom: 0; left: calc(8 * (var(--x-step))); }
    20% { bottom: 0; left: calc(9 * (var(--x-step))); } 
    22.5% { bottom: 0; left: calc(10 * (var(--x-step))); }
    25% { bottom: 0; left: calc(11 * (var(--x-step))); } 
    27.5% { bottom: 0; left: calc(12 * (var(--x-step))); }
    30% { bottom: 0; left: calc(13 * (var(--x-step))); } 
    32.5% { bottom: 0; left: calc(14 * (var(--x-step))); }
    35% { bottom: 0; left: calc(15 * (var(--x-step))); } 
    37.5% { bottom: 0; left: calc(16 * (var(--x-step))); }
    40% { bottom: 0; left: calc(17 * (var(--x-step))); } 
    42.5% { bottom: 0; left: calc(18 * (var(--x-step))); }
    45% { bottom: 0; left: calc(19 * (var(--x-step))); } 
    47.5% { bottom: 0; left: calc(20 * (var(--x-step))); }
    50% { bottom: 0; left: calc(21 * (var(--x-step))); } 
    52.5% { bottom: 0; left: calc(22 * (var(--x-step))); }
    55% { bottom: 0; left: calc(23 * (var(--x-step))); } 
    57.5% { bottom: 0; left: calc(24 * (var(--x-step))); }
    60% { bottom: 0; left: calc(25 * (var(--x-step))); } 
    62.5% { bottom: 0; left: calc(26 * (var(--x-step))); }
    65% { bottom: 0; left: calc(27 * (var(--x-step))); } 
    67.5% { bottom: 0; left: calc(28 * (var(--x-step))); }

    70% { bottom: calc(5 * (var(--y-step))); left: calc(29 * (var(--x-step))); } 
    72.5% { bottom: calc(6 * (var(--y-step))); left: calc(30 * (var(--x-step))); }
    75% { bottom: calc(7 * (var(--y-step))); left: calc(31 * (var(--x-step))); } 
    77.5% { bottom: calc(8 * (var(--y-step))); left: calc(32 * (var(--x-step))); }
    80% { bottom: calc(10 * (var(--y-step))); left: calc(33 * (var(--x-step))); } 
    82.5% { bottom: calc(6 * (var(--y-step))); left: calc(34 * (var(--x-step))); }
    85% { bottom: calc(5 * (var(--y-step))); left: calc(35 * (var(--x-step))); } 
    87.5% { bottom: calc(3 * (var(--y-step))); left: calc(36 * (var(--x-step))); }
    90% { bottom: calc(0 * (var(--y-step))); left: calc(37 * (var(--x-step))); } 

    92.5% { bottom: calc(0 * (var(--y-step))); left: calc(37 * (var(--x-step))); }
    95% { bottom: calc(0 * (var(--y-step))); left: calc(37 * (var(--x-step))); } 
    97.5% { bottom: calc(0 * (var(--y-step))); left: calc(37 * (var(--x-step))); }
    100% { bottom: calc(0 * (var(--y-step))); left: calc(37 * (var(--x-step))); }
}

 @keyframes animate-sprite-position { 
     0% { background-position: var(--run0); } 
     2.5% { background-position: var(--run1); }
     5% { background-position: var(--run2); } 
     7.5% { background-position: var(--run3); }
     10% { background-position: var(--run5); } 
     12.5% { background-position: var(--run6); }
     15% { background-position: var(--run7); } 
     17.5% { background-position: var(--run8); }
     20% { background-position: var(--run1); } 
     22.5% { background-position: var(--run2); }
     25% { background-position: var(--run3); } 
     27.5% { background-position: var(--run4); }
     30% { background-position: var(--run5); } 
     32.5% { background-position: var(--run6); }
     35% { background-position: var(--run7); } 
     37.5% { background-position: var(--run8); }
     40% { background-position: var(--run8); } 
     42.5% { background-position: var(--run1); }
     45% { background-position: var(--run2); } 
     47.5% { background-position: var(--run3); }
     50% { background-position: var(--run4); } 
     52.5% { background-position: var(--run5); }
     55% { background-position: var(--run6); } 
     57.5% { background-position: var(--run7); }
     60% { background-position: var(--run8); } 
     62.5% { background-position: var(--run1); }
     65% { background-position: var(--run2); } 
     67.5% { background-position: var(--run3); }

     70% { background-position: var(--jump0); } 
     72.5% { background-position: var(--jump1); }
     75% { background-position: var(--jump2); } 
     77.5% { background-position: var(--jump3); }
     80% { background-position: var(--jump4); } 
     82.5% { background-position: var(--jump5); }
     85% { background-position: var(--jump6); } 
     87.5% { background-position: var(--jump7); }
     90% { background-position: var(--jump8); } 

     92.5% { background-position: var(--landing0); }
     95% { background-position: var(--landing1); } 
     97.5% { background-position: var(--landing2); }
     100% { background-position: var(--landing3); } 
}