.task-component {
  display: flex;
  min-height: 64px;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  transition: all ease 1s;
}

.task-component .title {
  color: var(--text-color);
}


.task-component.is-done {
  filter: grayscale(100%);
}

.task-component.is-done .title {
  text-decoration: line-through;
}