.circularSlider {
  --outterDialPosX: ;
  --outterDialPosY: ;
  --innerDialPosX: ;
  --innerDialPosY: ;
  --sideLength: 120px;
  --borderWidth: 11px;
  --diamOutter: calc(var(--sideLength) - 2 * var(--borderWidth));
  --diamInner: calc(0.6 * var(--diamOutter));
  position: relative;
  display: inline-block;
  height: var(--sideLength);
  width: var(--sideLength);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  border-style: solid;
  border-width: var(--borderWidth);
  position: absolute;
  background: none;
  border-radius: 50%;
  border-color: #cccccc;
  z-index: 100;
  background: var(--colorTest);
}

.circle.inner {
  height: var(--diamInner);
  width: var(--diamInner);
}

.circle.outer {
  height: var(--diamOutter);
  width: var(--diamOutter);
}

.dial {
  height: var(--borderWidth);
  width: var(--borderWidth);
  background: #44475f;
  border-radius: 50%;
  position: absolute;
}

.dial.inner {
  z-index: 200;
}

.dial.outer {
  z-index: 200;
}