.toolbar {
    height: 100%;
    width: 150px;
    background: rgb(53, 53, 53);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.toolbar ul {
    /* height: calc(100% - 50px); */
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.toolbar ul li {
    width: 100%;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #f2f2f2;
}
