.gameplay {
    height: 100%;
    width: 100%;
    /* display: none; */
    display: block;
    z-index: 0;
}

.gameplay .message {
    width: 500px;
    height: 150px;
    background: green;
    display: none;
}

.gameplay .background {
    height: inherit;
    width: inherit;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.85;
    background-image: url('/images/menu/menu_stars.jpg');
    background-repeat: repeat;
    background-position: 0 0;
    background-size: auto 100%;
    animation: animatedBackground 200s linear infinite;
}   

@keyframes animatedBackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 0 10000px;
    }
}