:root {
    --image-side: 500px;
    --game-menu-icon-size: 50px;
    --game-menu-font-size: 25px;

    /* ______COLORS______ */

    --body-color-A: #f07993;
    --body-color-B: #f1a3b4;
    --body-color-C: #8fadf0;
    --body-color-D: #a8c3fc;
}

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;

    background: var(--body-color-A);
}

* {
    box-sizing: border-box;
}

/* ------------GENERAL------------ */

.welcome-menu {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-family: Helvetica;
    color: white;

    /* background: yellow; */
}

/* ------------GAME_TITLE------------ */

.welcome-menu .game-title {
    width: 100%;
    font-size: 75px;

    /* background: red; */
}

/* ------------GAME_PICTURE------------ */

.welcome-menu .game-picture {
    height: var(--image-side);
    width: var(--image-side);
    display: flex;
    align-items: center;
    justify-content: center;
    
    /* background-color: blue; */
}

.welcome-menu .game-picture .picture-animation {
    height: 90%;
    width: 90%;
    border-radius: var(--image-side);

    /* background-color: skyblue;     */
}

/* ------------GAME_MENU------------ */

.welcome-menu .game-menu {
    user-select: none;
    font-size: var(--game-menu-font-size);

    /* background-color: green; */
}

.welcome-menu .game-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.welcome-menu .game-menu ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: calc(var(--game-menu-icon-size) / 5);
    padding: calc(var(--game-menu-icon-size) / 5);
    background: var(--body-color-B);
}

.welcome-menu .game-menu ul li:hover { 
    background: var(--body-color-D);
    animation: hover-game-menu-entry;
    animation-duration: 0.2s;
    animation-direction: forwards;
    animation-fill-mode: forwards;
}

.welcome-menu .game-menu ul li:active { 
    font-size: calc(var(--game-menu-font-size) + 7px);
    background: var(--body-color-C);
}

.welcome-menu .game-menu ul li div {
    margin-left: calc(var(--game-menu-icon-size) / 3);
}

.welcome-menu .game-menu ul li img {
    filter: brightness(0) invert(1);
    width: var(--game-menu-icon-size);
    height: var(--game-menu-icon-size);
}

/* ------------KEYFRAMES------------ */

@keyframes hover-game-menu-entry {
    0% { font-size: var(--game-menu-font-size); }
    100% { font-size: calc(var(--game-menu-font-size) + 7px); }
}