:root {
    --image-side: 500px;
    --game-menu-icon-size: 50px;
    --game-menu-font-size: 25px;

    /* ______COLORS______ */

    --body-color-A: #2a327c;
    --body-color-B: #6d3b5c;
    --body-color-C: #a2a2c7;
    --body-color-D: #7b7b99;
}

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;

    /* background: var(--body-color-A); */
    background-image: url('/images/menu/menu_stars.jpg');
    background-size: cover;
}

* {
    box-sizing: border-box;
}

/* ------------GENERAL------------ */

.welcome-menu {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-family: Helvetica;
    color: white;

    /* background: yellow; */
}

/* ------------GAME_TITLE------------ */

.welcome-menu .game-title {
    width: 100%;
    height: 320px;
    font-size: 75px;
    background-image: url('/images/menu/menu_title.png');
    background-size: 100% 100%;

    /* background: red; */
}

/* ------------GAME_PICTURE------------ */

.welcome-menu .game-picture {
    height: var(--image-side);
    width: var(--image-side);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.7;
    background-color: #423d3d;
    border-radius: var(--image-side);
}

.welcome-menu .game-picture .picture-animation {

    background: blue;
    height: 100%;
    width: 100%;
    /* background-image: url('/images/menu/menu_ship.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center; */
}

/* ------------GAME_MENU------------ */

.welcome-menu .game-menu {
    user-select: none;
    font-size: var(--game-menu-font-size);
    display: flex;
    align-items: center;
    justify-content: center;

    /* background-color: green; */
}

.welcome-menu .game-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 80%;
}

.welcome-menu .game-menu ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 90%; */
    border: 7px solid #b17f2e;
    border-radius: 10px;
    margin: calc(var(--game-menu-icon-size) / 5);
    padding: calc(var(--game-menu-icon-size) / 5);
    /* background: var(--body-color-B); */
    background: transparent;
}

.welcome-menu .game-menu ul li:hover { 
    background: var(--body-color-D);
    animation: hover-game-menu-entry;
    animation-duration: 0.2s;
    animation-direction: forwards;
    animation-fill-mode: forwards;
}

.welcome-menu .game-menu ul li:active { 
    font-size: calc(var(--game-menu-font-size) + 7px);
    background: var(--body-color-C);
}

.welcome-menu .game-menu ul li div {
    margin-left: calc(var(--game-menu-icon-size) / 3);
}

.welcome-menu .game-menu ul li img {
    filter: brightness(0) invert(1);
    width: var(--game-menu-icon-size);
    height: var(--game-menu-icon-size);
}

/* ------------KEYFRAMES------------ */

@keyframes hover-game-menu-entry {
    0% { font-size: var(--game-menu-font-size); }
    100% { font-size: calc(var(--game-menu-font-size) + 7px); }
}